*.class
*.jar
/*.iml
/.idea
/.lein-*
/.nrepl-port
/.swp
/.repl

/checkouts/
/classes/
/dev-target
/lib/
/log/
/out/
/resources/public/js/compiled/**
/resources/public/css
/target/

figwheel_server.log
pom.xml
pom.xml.asc
